#/etc/systemd/system/autolock@.service

[Unit]
Description=Lock Screen When Suspended
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=xautolock -locknow

[Install]
WantedBy=suspend.target
